<!-- highchart container -->
<div id="chart-container" style="width: 85%; height: 20%; margin: 30px auto"></div>

<br>

<!-- table container -->
<div class="container-fluid table-responsive" style="width: 85%;">

  <table class="table table-bordered table-striped">

    <thead>
      <tr>
        <th>Query ID</th>
        <th>Number of Available Uber Cars</th>
        <th>Date & Time Recorded</th>
      </tr>
    </thead>

    <!-- the tbody element gets constantly updated with the ajax calls -->
    <tbody id = "table-body">
    </tbody>

  </table>

</div>