<div id="chart-container" style="width: 85%; height: 20%; margin: 30px auto"></div>

<br>

<div class="container-fluid table-responsive" style="width: 85%;">

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Query #</th>
        <th>Number of Available Uber Cars</th>
        <th>Date & Time Recorded</th>
      </tr>
    </thead>

    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.id %></td>
          <td><%= car.quantity %></td>
          <td><%= car.created_at.strftime("%B %d, %I:%M %p") %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>